* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  padding: 1rem;
  margin: 1rem;
  color: #ccc;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;

  h1 {
    color: rgb(76, 187, 76);
    margin-bottom: 1rem;
  }
}
